<button mat-button (click)="addSkill()">Add skills</button>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <input formControlName="id" placeholder="id">
    </div>
    <div>
        <input formControlName="name" placeholder="name">
        <label *ngIf="form.get('name')?.errors">{{form.get('name')?.errors | json }}</label>
    </div>
    <div>
        <input formControlName="username" placeholder="username">
        <mat-spinner *ngIf="form.get('username')?.pending" matSuffix [diameter]="18" ></mat-spinner>
        <label *ngIf="form.get('username')?.errors">{{form.get('username')?.errors | json }}</label>
    </div>
    <div>
        <input formControlName="email" placeholder="email">
        <label *ngIf="form.get('email')?.errors">{{form.get('email')?.errors | json }}</label>
    </div>
    <div>
        <input formControlName="phone" placeholder="phone">
    </div>
    <mat-list *ngIf="skills && skills.length">
        <mat-list-item *ngFor="let item of skills.controls">
            {{ item.get('name')?.value }} - {{ item.get('exp')?.value }}
        </mat-list-item>
    </mat-list>
    
    
    <button type="reset">clear</button>
    <button type="submit" [disabled]="form.invalid || form.pristine">
        Save
    </button>
</form>


