<h1 mat-dialog-title>Skill</h1>
<form mat-dialog-content [formGroup]="form">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="exp" formControlName="exp">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [mat-dialog-close]="form.value" cdkFocusInitial [disabled]="form.invalid">Ok</button>
      </div>
    
</form>
