/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
  width: 600px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu {
  margin-bottom: 0.5em;
}
.menu a {
  margin: 0.5em;
}
.mat-form-field {
  margin-right: 0.5em;
}
