<div class="menu">
    <a [routerLink]="[ '/' ]" routerLinkActive="active">🏠</a>
    <a [href]="[ 'https://stackblitz.com/edit/typescript-ohddud?file=index.ts&devtoolsheight=100' ]" routerLinkActive="active" target="_blank">Lesson 1</a>
    <a [routerLink]="[ '/search' ]" routerLinkActive="active">Lesson 2</a>
    <a [routerLink]="[ '/users' ]" routerLinkActive="active">Lesson 3</a>
    <a [routerLink]="[ '/users/name-change-detect' ]" routerLinkActive="active">Lesson 4</a>
    <a [routerLink]="[ '/observable' ]" routerLinkActive="active">observable Sample</a>
  </div>