<mat-selection-list>
    <button mat-list-item *ngFor="let user of users$ | async" (click)="setUser(user)">
        {{ user.name }}
    </button >
    <mat-divider></mat-divider>
</mat-selection-list>
<ng-container *ngIf="user">
    <app-profile *ngIf="!answerPage" [user]="user"></app-profile>
    <app-profile-answer *ngIf="answerPage && (answerPage !== 'validator')" [user]="user"></app-profile-answer>
    <app-profile-with-validator-answer *ngIf="answerPage === 'validator'" [user]="user"></app-profile-with-validator-answer>
</ng-container>
